<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            PharMaps
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card class="contenido">
        <ion-card-header>
                <h1>Santa Fe y sus Farmacias</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>En esta app se pueden visualizar todas las farmacias de la ciudad de Santa Fe, Santo Tomé,
                    Esperanza, Rosario y otras localidades.</ion-item>
                <ion-item>Si lo deseas puedes utilizar la geolocalización para encontrar las farmacias más cercanas a tu
                    ubicación.</ion-item>
                <ion-item>Descargala y tendrás todas las farmacias a tu alcance.</ion-item>
            </ion-list>

            <ion-title>
                <ion-badge color="success">Puedes colaborar</ion-badge>
            </ion-title>
            <ion-item>
                <p>Informando una farmacia con sus datos 
                    y horarios de turno.</p>
            </ion-item>
            <ion-item>
                <p>Asunto: Nueva Farmacia</p>
            </ion-item>
            <ion-item>
                pharmapsargentina@gmail.com
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card class="contenido">
        <ion-text> 
            <p> Lo hacemos con gusto. Gracias por visitarnos...</p> 
        </ion-text>
    </ion-card>

</ion-content>