<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            PharMaps
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="contenido">
        <h1>Santa Fe y sus Farmacias</h1>
        <div>
            <p>En esta app se pueden visualizar todas las farmacias de la ciudad de Santa Fe, Santo Tomé y Esperanza - Argentina</p>
            <p>Si lo deseas puedes utilizar la geolocalización para encontrar las farmacias más cercanas a tu ubicación.</p>
            <p>Descargala y tendrás todas las farmacias a tu alcance.</p>
            <p>
                <ion-badge color="success">Próximamente Rafaela</ion-badge>
            </p>
        </div>


    </div>
    <div class="contenido">
        <p>Gracias por visitarnos...</p>

    </div>

    <div class="contenido">
        Utilizamos <a href="https://www.mapbox.com" target="_blank">Mapbox <ion-icon name="open-outline"></ion-icon></a>
    </div>

</ion-content>